.public-layout {
  background: linear-gradient(135deg, #6b63ff55, #00c6ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh;
}

main {
  flex: 1 1 auto;       
  padding: 20px;        
  overflow-y: auto;     
  -webkit-overflow-scrolling: touch;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
